/* ********************************************************* */
/*                        SIDEBAR                            */
/* ********************************************************* */

.sidebar {
  height: 100%;
  width: 4.8rem;
  min-width: 4.8rem;
  background-color: white;
  border-right: 0.08rem solid rgb(222, 225, 231);
}

.sidebar-hamburger {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 4.3rem;
  border-bottom: 0.08rem solid rgb(222, 225, 231);
}

.sidebar i {
  color: rgb(80, 80, 80);
  font-size: 1.7em;
}

.sidebar-content {
  display: flex;
  height: calc(100% - 8rem);
  align-items: center;
}

.sidebar-content ul {
  width: 100%;
}

.sidebar-content ul li {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-bottom: 1.5rem;
  width: calc(100% - 0.08rem);
}

.sidebar-content ul li.selected {
  border-right: 1rem solid #11476e;
}

.sidebar-content ul li.selected i {
  color: #11476e;
}