/* ********************************************************* */
/*                        NAVBAR                             */
/* ********************************************************* */

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 4.3rem;
  min-height: 4.3rem;
  padding-right: 2vw;
  background-color: white;
  font-family: sans-serif;
  color: rgb(80, 80, 80); /* rgb(90, 90, 90); */
  border-bottom: 0.08rem solid rgb(222, 225, 231);   /* #C0C6D2 */
}

.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.navbar i {
  color: rgb(80, 80, 80);
  font-size: 1.5rem;
}

.navbar li:first-child {
  justify-self: flex-start;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1em;
  font-size: 24px;
  color: #000;
  background: #ddd;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar li:first-child img {
  height: 20px;
}

.navbar-name {
  color: rgb(80, 80, 80);
  margin-top: -0.1rem;
  margin-left: 2.5rem;
}

i.dropdown-icon {
  margin-left: 1rem;
  font-size: 2rem;
}
