/* ********************************************************* */
/*                        NAVBAR                             */
/* ********************************************************* */

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 4.5rem;
  padding-right: 2vw;
  background-color: white;
  font-family: sans-serif;
  color: rgb(71, 71, 71);
  border-bottom: 0.1rem solid rgb(71, 71, 71);
}

.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar i {
  color: rgb(71, 71, 71);
  font-size: 1.5rem;
}

.navbar-name {
  margin-top: -0.1rem;
  margin-left: 2.5rem;
}

i.dropdown-icon {
  margin-left: 1rem;
  font-size: 2rem;
}

