.Dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1 {
  font-size: 2.5rem;
}


/* ********************************************************* */
/*                       MENU PAGE                           */
/* ********************************************************* */

.menu-add-button {
  margin-left: 0.8rem;
}

.menu-nav {
  margin-top: 0.3rem;
  height: 3rem;
  display: flex;
}

.menu-nav-left {
  list-style: none;
  display: flex;
  align-items: center;
  color: black;
  width: 100%;
  border-bottom: 0.17rem solid rgb(66, 66, 66);
}

.menu-nav-left a {
  font-weight: 500;
  height: calc(100% + 0.05rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3rem;
  margin-right: 2vw;
  color: rgb(65, 65, 65);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 0.25rem solid transparent;
}

.menu-nav-left a.selected {
  border-bottom: 0.25rem solid #11476e;
  color: black;
}

.menu-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}


/* ********************************************************* */
/*                  NEW MENU ITEM MODAL                      */
/* ********************************************************* */

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(155, 155, 155, 0.8);
  z-index: 50;

  visibility: hidden;
  opacity: 0;
}

#modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40rem;
  background: #f7f7f7;
  border-radius: 2px;
  z-index: 100;
  padding-bottom: 1.5rem;

  visibility: hidden;
  opacity: 0;
}

.modal-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.modal-container {
  width: 94%;
  margin: 0 auto;
}

.close-modal {
  float: right;
  cursor: pointer;
  font-size: 1.8rem;
}

.modal-container h2 {
  margin-bottom: 0.8rem;
}

.modal-container hr {
  margin-bottom: 1.3rem;
}

.form-inline {
  display: flex;
}

.form-inline * {
  flex-grow: 1;
}

.form-field {
  margin-bottom: 1.5em;
}

.addnew-label {
  margin-right: 1.5em;
}

.addnew-submit {
  float: right;
  font-size: 1em;
  width: 8rem;
}

.modal-inputs-container {
  width: 90%;
  margin: 0 auto;
}

#txt {
  border:none;
  outline:none;
  margin: 0;
}

label[for="txt"] {
  /* margin: 1px; */
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  background-color: white;
  padding: 0.45rem 3%;
}
/* 
label[for="txt"] {
  outline: 0.1rem solid #11476e;
} */

.addnew-label-price {
  margin-bottom: 0.6rem;
}