.Dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1 {
  font-size: 2.5rem;
}


/* ********************************************************* */
/*                       MENU PAGE                           */
/* ********************************************************* */

.menu-nav {
  margin-top: 0.3rem;
  height: 3rem;
  display: flex;
}

.menu-nav-left {
  list-style: none;
  display: flex;
  align-items: center;
  color: black;
  width: 100%;
  border-bottom: 2px solid rgb(66, 66, 66);
}

.menu-nav-left a {
  font-weight: 500;
  height: calc(100% + 1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3rem;
  margin-right: 2vw;
  color: rgb(65, 65, 65);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 1.5px solid transparent;
}

.menu-nav-left a.selected {
  border-bottom: 1.5px solid #11476e;
  color: black;
}

.menu-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  background-color: #11476e;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 2px;
  margin-left: 0.8rem;
  font-size: 0.9rem;
}

.menu-button:hover {
  background-color: rgb(2, 2, 212);
}