html {
  font-size: 16px;
  font-family: 'Raleway' !important;
}

@media only screen and (max-width: 600px) {
  html {
      font-size: 12px;
  }
}


@media only screen and (max-width: 400px) {
  html {
      font-size: 10px;
  }
}

a {
  text-decoration: none;
}

html, body, h1, h4, ul, p {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.1rem;
}

.dash-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  /* width: 100%; */
  background-color: #F5F6FA;
  height: 100%;
  padding: 1.5rem;
}


/*          SHOULD BE MODULARISED AND IMPORTED WHERE NEEDED \/              */

/* ********************************************************* */
/*                        NAVBAR                             */
/* ********************************************************* */

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 4.3rem;
  min-height: 4.3rem;
  padding-right: 2vw;
  background-color: white;
  font-family: sans-serif;
  color: rgb(80, 80, 80); /* rgb(90, 90, 90); */
  border-bottom: 0.08rem solid rgb(222, 225, 231);   /* #C0C6D2 */
}

.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar i {
  color: rgb(80, 80, 80);
  font-size: 1.5rem;
}

.navbar-name {
  color: rgb(80, 80, 80);
  margin-top: -0.1rem;
  margin-left: 2.5rem;
}

i.dropdown-icon {
  margin-left: 1rem;
  font-size: 2rem;
}

/* ************************************************************************ */

/*          SHOULD BE MODULARISED AND IMPORTED WHERE NEEDED \/              */

/* ********************************************************* */
/*                        SIDEBAR                            */
/* ********************************************************* */

.sidebar {
  height: 100%;
  width: 4.8rem;
  min-width: 4.8rem;
  background-color: white;
  border-right: 0.08rem solid rgb(222, 225, 231);
}

.sidebar-hamburger {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 4.3rem;
  border-bottom: 0.08rem solid rgb(222, 225, 231);
}

.sidebar i {
  color: rgb(80, 80, 80);
  font-size: 1.7em;
}

.sidebar-content {
  display: flex;
  height: calc(100% - 8rem);
  align-items: center;
}

.sidebar-content ul {
  width: 100%;
}

.sidebar-content ul li {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-bottom: 1.5rem;
  width: calc(100% + 0.05rem);
  border-right: 0.08rem solid transparent;
}

.sidebar-content ul li.selected {
  border-right: 0.15rem solid #11476e;
}

.sidebar-content ul li.selected i {
  color: #11476e;
}
/* ************************************************************************ */


/*          SHOULD BE MODULARISED AND IMPORTED WHERE NEEDED \/              */

/* ********************************************************* */
/*                      MENU ITEM                            */
/* ********************************************************* */


.menu-item-card {
  display: flex;
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
}

.menu-item-img {
  height: 7rem;
  margin-right: 1rem;
}

.menu-item-button i {
  color: white;
  background-color: #11476e;
  margin-left: 0.5rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
}


/* ************************************************************************ */

/*          SHOULD BE MODULARISED AND IMPORTED WHERE NEEDED \/              */

/* ********************************************************* */
/*                  NEW MENU ITEM MODAL                      */
/* ********************************************************* */

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(155, 155, 155, 0.8);
  z-index: 50;

  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 40vh;
  margin-left: -30vw;
  margin-top: -20vh;
  background: #f7f7f7;
  border-radius: 1px;
  z-index: 100;

  visibility: hidden;
  opacity: 0;
  
  /* padding: 1.5em; */
  /* transition: 0.5s ease-out; */
  
  /* transform: translateY(45px); */
}

.close-modal {
  float: right;
  cursor: pointer;
}

.modal-container {
  width: 94%;
  margin: 0 auto;
}

.modal-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.form-inline {
  display: flex;
}
.form-inline * {
  flex-grow: 1;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}


.addnew-label {
  margin-right: 1.5em;
}

.addnew-label-time {
margin-left: 1.5em;
}

.form-field-participants {
  display: flex;
  align-items: center;
  width: 50%;
}

.addnew-participants {
  display: block;
  background-color: #f7f7f7;
  border: 1.3px solid rgb(136, 136, 136);
}


.addnew-cancel {
  color: #33af68;
  font-size: 1.3em;
  margin: 0.2em 2em 0 0;
  float: right;
}

.addnew-submit {
  float: right;
  font-size: 1.3em;
}

/* ************************************************************************ */