html {
  font-size: 16px;
  font-family: 'Raleway' !important;
}

@media only screen and (max-width: 600px) {
  html {
      font-size: 12px;
  }
}


@media only screen and (max-width: 400px) {
  html {
      font-size: 10px;
  }
}

html, body, h1, ul {
  margin: 0;
  padding: 0;
}


/*          SHOULD BE MODULARISED AND IMPORTED WHERE NEEDED \/              */

/* ********************************************************* */
/*                        NAVBAR                             */
/* ********************************************************* */

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 4.5rem;
  padding-right: 2vw;
  background-color: white;
  font-family: sans-serif;
  color: rgb(71, 71, 71);
  border-bottom: 0.1rem solid rgb(71, 71, 71);
}

.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar i {
  color: rgb(71, 71, 71);
  font-size: 1.5rem;
}

.navbar-name {
  margin-top: -0.1rem;
  margin-left: 2.5rem;
}

i.dropdown-icon {
  margin-left: 1rem;
  font-size: 2rem;
}

/* ************************************************************************ */

/*          SHOULD BE MODULARISED AND IMPORTED WHERE NEEDED \/              */

/* ********************************************************* */
/*                        SIDEBAR                            */
/* ********************************************************* */

.sidebar {
  height: 100%;
  width: 4.5rem;
  background-color: white;
  border-right: 0.1rem solid rgb(71, 71, 71);
}

.sidebar-hamburger {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  border-bottom: 0.1rem solid rgb(71, 71, 71);
}

.sidebar i {
  color: rgb(71, 71, 71);
  font-size: 1.7em;
}

.sidebar-content {
  display: flex;
  height: calc(100% - 8rem);
  align-items: center;
}

.sidebar-content ul {
  width: 100%;
}

.sidebar-content ul li {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-bottom: 1.5rem;
  width: calc(100% + 0.05rem);
  border-right: 0.1rem solid transparent;
}

.sidebar-content ul li.selected {
  border-right: 0.1rem solid blue;
}

.sidebar-content ul li.selected i {
  color: blue;
}
/* ************************************************************************ */