.Dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}


/* ********************************************************* */
/*                      ORDERS PAGE                          */
/* ********************************************************* */

.orders-h1 {
  margin-bottom: 0.8rem;
}

.orders-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  margin-bottom: 1rem;
}

.completed-container {
  display: flex;
  flex-wrap: wrap;
}

.order {
  background-color: white;
  margin: 0.5rem 1rem 0 0.5rem;
  border-top: 0.15rem solid #11476e;
  padding: 0 1rem;
  height: 14rem;
}

.order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.order-header-underline {
  margin-bottom: 0.8rem;
}

.order-header-orderid {
  color: #11476e;
  font-weight: 600;
}

.order-header-timestamp {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.order-header-timestamp i {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.order-item {
  display: flex;
  margin-bottom: 0.5rem;
}

.order-item-img {
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.order-item-text {
  display: flex;
  align-items: center;
}

.order-item-name {
  font-weight: 600;
}

.order-buttons {
  display: flex;
  justify-content: flex-end;
}

.order-buttons i {
  color: white;
  background-color: #11476e;
  margin: 0.5rem 0 0.5rem 0.8rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.completed-orders-empty-state {
  height: 12rem;
  border: 0.15rem dashed rgb(223, 223, 223);
}

.orders-empty-state {
  border: 0.15rem dashed rgb(223, 223, 223);
  height: 40vh;
  margin-bottom: 2rem;
}

.empty-state-header {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  color: rgb(102, 102, 102);
}