.Dashboard {
  width: 100vw;
  height: 100vh;
}

/* ********************************************************* */
/*                        NAVBAR                             */
/* ********************************************************* */

.navbar {
  height: 4rem;
  padding: 0 2vw;
  background-color: white;
  font-family: sans-serif;
  color: rgb(39, 39, 39);
  display: flex;
  justify-content: space-between;
}

.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
/* 
.navbar-right li {
  margin-left: 2rem;
} */

.navbar i {
  color: rgb(53, 53, 53);
  font-size: 1.5rem;
}

.navbar-name {
  margin-top: -0.1rem;
  margin-left: 2.5rem;
}

i.dropdown-icon {
  margin-left: 1rem;
  font-size: 2rem;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* ********************************************************* */
/*                        SIDEBAR                            */
/* ********************************************************* */


.sidebar {
  height: 100%;
  width: 12rem;
  background-color: white;
}

.sidebar ul {
  color: black;
}


.navbar-center a {
  font-weight: 500;
  height: calc(100% - 3px);
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 0rem; */
  margin: 0 1vw;
  color: rgb(223, 223, 223);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.87rem;
  border-bottom: 3px solid transparent;
}

.navbar-center a.navbar-selected {
  border-bottom: 3px solid #b73019;
}



.content {
  width: 100%;
  height: 100%;
  background-color: rgb(212, 212, 212);
}


